.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 94%;
    height: 94%;
    color: white;
    overflow: scroll;
    padding: 3%;
}
