.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    overflow: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    height: 12rem;
}
