.home {
    display: grid;
    gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 50px;
    color: white;
}

.generalInfo {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 13rem;
}

.row {
    display: flex;
    gap: 50px;
    grid-column: 1/4;
    height: 12rem;
    justify-items: stretch;
}

.left {
    grid-column: 1/2;
}

.right {
    grid-column: 3/4;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 17px;
    white-space: nowrap;
    background-color: #171822;
    border: 1px solid #303241;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.boxTitle {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.boxContent {
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0.5rem;
}

.boxWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}