.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    overflow: hidden;
}

.boxWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: fit-content;
    width: 100%;
    height: 10rem;
    background-color: #171822;
    border: 1px solid #303241;
    border-radius: 17px;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

.boxWrapper > .boxText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 1.5rem;
    left: 1rem;
}

.boxData {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0.5rem;
    position: relative;
}

.boxTitle {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
}
