.sidebar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #12131C;
}

.sidebarLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.sidebarLogo {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    transform: scale(1.6);
}

.sidebarButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}