.sidebar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
    height: 100vh;
    position: absolute;
    background-color: dodgerblue;
}