.content {
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(24, 26, 37, 0.98);
    top: 0;
    left: 0;
}



body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-family: 'Courier New', Courier,;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  overflow: hidden;
 
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
